<h1>Users</h1>

<%= will_paginate @users %>

<%= @users.each do |user| %>
    <div class="row">
        <div class="col-xs-8">
            <div class="well well-lg">
                <div>
                    <%= link_to gravatar_for(user), user_path(user) %>
                </div>
                <div class="article_title">
                    <%= link_to user.username, user_path(user) %>
                </div>
                <small><%= pluralize(user.articles.count, "article")%></small>
            </div>
        </div>
    </div>
<% end %>

