


<div class="row">
    <div class="col-md-10" align="center">
        <h2 align="center"><%= @user.username %></h2>
        <%= gravatar_for @user %>
        <h4 align="center">Articles writter by <%="#{@user.username}"%>:</h4>

        <%= will_paginate @articles %>

        <%= render 'articles/articles_listing'%>
        
    </div>
</div>

